---
- name: Deploy LinkedIn Birthday Bot
  hosts: raspberry
  become: yes

  tasks:
    - name: Create app directory
      file:
        path: /opt/linkedin-bot
        state: directory
        owner: pi
        group: pi
        mode: '0755'

    - name: Copy project files
      synchronize:
        src: ../../
        dest: /opt/linkedin-bot/
        rsync_opts:
          - "--exclude=.git"
          - "--exclude=venv"
          - "--exclude=__pycache__"

    - name: Install Docker and Compose (if not present)
      include_role:
        name: docker

    - name: Deploy with Docker Compose
      docker_compose:
        project_src: /opt/linkedin-bot
        files:
          - docker-compose.yml
          - docker-compose.queue.yml
        state: present
        build: yes
